@model BudHillFMS.Models.Equipment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thiết bị @Model.EquipmentName </h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>

                    <tr>
                        <td>ID:</td>
                        <td>	@Model.EquipmentId</td>
                    </tr>

                    <tr>
                        <td>Thiết bị:</td>
                        <td>	@Model.EquipmentName</td>
                    </tr>
                    <tr>
                        <td>Loại thiết bị:</td>
                        <td>@Model.EquipmentType</td>
                    </tr> 
                    <tr>
                        <td>Số lượng:</td>
                        <td>@Model.EquipmentQuantity</td>
                    </tr>
                    <tr>
                        <td>Đã sử dụng:</td>
                        <td>@Model.EquipmentUsed</td>
                    </tr>
                    <tr>
                        <td>Trang trại:</td>
                        <td>@Model.Farm?.FarmName</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-tone btn-primary m-r-5">Trở về</a>
</div>

