@model IEnumerable<BudHillFMS.Models.Equipment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quản lý trang thiết bị</h1>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-6">
                @using (Html.BeginForm("Index", "Equipments", FormMethod.Get))
                {
                    <div class="row">
                        <div class="col-md-6">
                            @Html.DropDownList("farmId", ViewData["TrangTrai"] as SelectList, "Tất cả trang trại", new { @class = "form-control", onchange = "this.form.submit();" })
                        </div>


                    </div>

                }
            </div>
            <div class="col-lg-6 text-right">
                <button class="btn btn-tone btn-primary" onclick="location.href='@Url.Action("Create", "Equipments")'">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thiết bị mới</span>
                </button>
                
            </div>

        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>

                        <th>Thiết bị</th>
                        <th>Loại thiết bị</th>
                        <th>Số lượng</th>
                        <th>Đang sử dụng</th>
                        <th>Trang trại</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr onclick="location.href='@Url.Action("Details", "Equipments", new { id = item.EquipmentId })'">


                                <td>
                                    <h6 class="m-b-0 m-l-10">@item.EquipmentName</h6>
                                </td>
                                <td>@item.EquipmentType</td>
                                <td>@item.EquipmentQuantity</td>
                                <td>@item.EquipmentUsed</td>
                                <td>@item.Farm?.FarmName</td>

                                <td>

                                    <a class="btn btn-tone btn-primary m-r-5" asp-controller="Equipments" asp-action="Edit" asp-route-id="@item.EquipmentId">Sửa</a>
                                    <a class="btn btn-tone btn-danger m-r-5" asp-controller="Equipments" asp-action="Delete" asp-route-id="@item.EquipmentId">Xóa</a>
                                </td>
                            </tr>

                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

