@model IEnumerable<BudHillFMS.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Quản lý quyền truy cập</h4>

<div class="text-right">
    <a class="btn btn-primary m-r-5" asp-controller="Roles" asp-action="Create"> <i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm quyền truy cập</span></a>
</div>


<div class="table-responsive">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Quyền truy cập</th>
                <th scope="col">Mô tả</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr onclick="location.href='@Url.Action("Details", "Roles", new { id = item.Id })'">
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.RoleDescription</td>
                        <td>
                            <a class="btn btn-info m-r-5" asp-controller="Roles" asp-action="Details" asp-route-id="@item.Id">Xem</a>
                            <a class="btn btn-primary m-r-5" asp-controller="Roles" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                            <a class="btn btn-danger m-r-5" asp-controller="Roles" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

