@using BudHillFMS.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<BudHillFMS.Areas.Identity.Data.User>

@inject UserManager<User> UserManager
@inject RoleManager<Role> RoleManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quản lý tài khoản</h1>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10">
                        @using (Html.BeginForm("Index", "Users", FormMethod.Get))
                        {
                            @Html.DropDownList("farmId", ViewData["DanhSachFarm"] as SelectList, "Tất cả trang trại", new { @class = "form-control", onchange = "this.form.submit();" })
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Users")'">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm tài khoản</span>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                <tr>
                    <th>Tài khoản</th>
                    <th>Họ và tên</th>
                    <th>Email</th>
                    <th>Quyền truy cập</th>
                    <th>Trang trại</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="location.href='@Url.Action("Details", "Users", new { id = item.Id })'">


                        <td>
                            <h6 class="m-b-0 m-l-10">@item.UserName</h6>
                        </td>
                        <td>@item.FirstName @item.LastName</td>
                        <td>@item.Email</td>
                        <td>
                            @{
                                var rolesName = await UserManager.GetRolesAsync(item);
                                var role = rolesName.Count > 0 ? await RoleManager.FindByNameAsync(rolesName[0]) : null;

                                <p class="m-b-0 opacity-07">@role?.RoleDescription</p>
                            }
                        </td>
                        <td>
                            @item.Farm?.FarmName
                        </td>
                        <td>

                            <a class="btn btn-tone btn-primary m-r-5" asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                            <a class="btn btn-tone btn-danger m-r-5" asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</div>