@model BudHillFMS.Models.Diary

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin nhật ký</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.DiaryId</td>
                    </tr>
                    <tr>
                        <td>Chủ đề:</td>
                        <td>@Model.DiarySubject</td>
                    </tr>
                    <tr>
                        <td>Phân loại:</td>
                        <td> @Model.DiaryCategory</td>
                    </tr>
                    <tr>
                        <td>Ngày viết:</td>
                        <td>@Model.EntryDate.Date.ToString("dd/MM/yyyy")</td>
                    </tr>
                    <tr>
                        <td>Nhà kính:</td>
                        <td>@Model.Field.FieldName</td>
                    </tr>
                    <tr>
                        <td>Sản phẩm:</td>
                        <td> @Model.Product.ProductName</td>
                    </tr>
                    <tr>
                        <td>Nội dung:</td>
                        <td> @Model.Description</td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.DiaryId" class="btn btn-tone  btn-primary m-r-5">Sửa</a>|
    <a data-toggle="modal" data-target="#DeleteModal" class="btn btn-tone btn-danger m-r-5">Xóa</a> |
    <a asp-action="Index" class="btn btn-tone btn-primary m-r-5">Trở về</a>
</div>

<!--Delete Modal -->
<div class="modal fade" id="DeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="modal-body">
                Xác nhận xóa thông tin này!
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" asp-route-id="@Model.DiaryId">
                    <input type="hidden" asp-for="DiaryId" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <input type="submit" value="Xác nhận xóa" class="btn btn-tone btn-danger" />
                </form>

            </div>
        </div>
    </div>
</div>