@model IEnumerable<BudHillFMS.Models.Cost>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Quản lý chi phí</h1>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">

                    @using (Html.BeginForm("Index", "Costs", FormMethod.Get))
                    {
                        <div class="row">
                            <div class="col-md-6">

                                @Html.DropDownList("farmId", ViewData["TrangTrai"] as SelectList, "Tất cả trang trại", new { @class = "form-control", onchange = "this.form.submit();" })
                            </div>

                            <div class="col-md-6">

                                @Html.DropDownList("categoryId", ViewData["LoaiChiPhi"] as SelectList, "Tất cả loại chi phí", new { @class = "form-control", onchange = "this.form.submit();" })
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="col-lg-4 text-right">
                <button class="btn btn-tone btn-primary" onclick="location.href='@Url.Action("Create", "Costs")'">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Chi phí mới</span>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                <tr>

                    <th>Chi phí</th>
                    <th>Loại chi phí</th>
                    <th>Tổng tiền</th>
                    <th>Trang trại</th>
                    <th>Ngày ghi chi phí</th>
                    <th>Tình trạng</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr onclick="location.href='@Url.Action("Details", "Costs", new { id = item.CostId })'">


                        <td>
                            <h6 class="m-b-0 m-l-10">@item.CostName</h6>
                        </td>
                        <td>@item.Category?.CategoryName </td>
                        <td>@($"{item.CostAmount:#,#}")</td>
                        <td>@item.Farm?.FarmName</td>
                        <td>@item.CostDate?.Date.ToString("dd/MM/yyyy")</td>
                        <td>
                            @if (@item.Coststatus)
                            {
                                <span class="badge badge-pill badge-cyan">
                                    Đã thanh toán
                                </span>
                            }
                            else
                            {
                                <span class="badge badge-pill badge-red">
                                    Chưa thanh toán
                                </span>
                            }
                        </td>

                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>

</div>