@model BudHillFMS.Models.Fertilizer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin phân bón</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                <tr>
                    <td>Id:</td>
                    <td>@Model.FertilizerId</td>
                </tr>
                <tr>
                    <td>Tên phân bón:</td>
                    <td>@Model.FertilizerName</td>
                </tr>
                <tr>
                    <td>Loại:</td>
                        <td>@Model.FertilizerType </td>
                </tr>
                <tr>
                    <td>Số lượng (Kg):</td>
                        <td>@Model.FertilizerQuantity</td>
                </tr>
                <tr>
                    <td>Đã dùng (Kg):</td>
                        <td>@Model.QuantityUsed</td>
                </tr>
                <tr>
                    <td>Nhà kho:</td>
                        <td>@Model.Warehouse.WarehouseName</td>
                </tr>
                <tr>
                    <td>Ngày nhập:</td>
                        <td>@Model.FertilizerImport?.Date.ToString("dd/MM/yyyy")</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FertilizerId" class="btn btn-tone btn-primary m-r-5">Sửa</a>|
    <a data-toggle="modal" data-target="#DeleteModal" class="btn btn-tone btn-danger m-r-5">Xóa</a>|
    <a asp-action="Index" class="btn btn-tone btn-primary m-r-5">Trở về</a>
</div>

<!--Delete Modal -->
<div class="modal fade" id="DeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="modal-body">
                Xác nhận xóa thông tin này!
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" asp-route-id="@Model.FertilizerId">
                    <input type="hidden" asp-for="FertilizerId" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <input type="submit" value="Xác nhận xóa" class="btn btn-tone btn-danger"/>
                </form>

            </div>
        </div>
    </div>
</div>
