@model BudHillFMS.Models.Farm

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin trang trại</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Id:</td>
                        <td class="text-dark font-weight-semibold">@Model.FarmId</td>
                    </tr>
                    <tr>
                        <td>Tên trang trại:</td>
                        <td>	@Model.FarmName</td>
                    </tr> 
                    <tr>
                        <td>Diện tích:</td>
                        <td>	@Model.FarmArea (ha)</td>
                    </tr> 
                    <tr>
                        <td>Đã sử dụng:</td>
                        <td>	@Model.AreaUsed (ha)</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td>@Model.FarmLocation</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FarmId" class="btn btn-tone btn-primary m-r-5">Sửa</a>|
    <a asp-action="Delete" asp-route-id="@Model.FarmId" class="btn btn-tone btn-danger m-r-5">Xóa</a>|
    <a asp-action="Index" class="btn btn-tone btn-primary m-r-5">Trở về</a>
</div>
